<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="#">導覽列</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav pull-right">
          <li>
            <a href="#search" data-toggle="collapse">
              <i class="fa fa-filter"></i> 搜尋
            </a> 
          </li>   
          <li>
            <%= link_to(url_for(params.permit!.to_h.merge(format: :xlsx)), data: {"disable-with": "匯出中!"}) do %>
            <i class="fa fa-file-excel-o"></i> 匯出
            <% end %>
          </li>           
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <div id="search" class="panel-body collapse">
        <%= render partial: "search" %>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= paginate current_collection %>
  </div>  
</div>
<div class="row">
  <div class="col-sm-12">
    <section class="panel">
      <header class="panel-heading">
        <%= model_class.model_name.human %>
      </header>
      <%= render partial: "table" %>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= paginate current_collection %>
  </div>
</div>