<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= display_meta_tags %>
    <%= stylesheet_link_tag 'backends' %>
    <%= javascript_include_tag 'backends' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/plugins/ckeditor/playplus_ckeditor.js"></script>    
    <!-- dropfiy -->
    <link rel="stylesheet" href="/plugins/dropify/css/dropify.min.css">
    <script src="/plugins/dropify/js/dropify.min.js"></script>
    <script>

    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="/plugins/html5shiv.js"></script>
    <script src="/plugins/respond.min.js"></script>
    <![endif]-->

  </head>

  <body style="font-family: '微軟正黑體'!important" >

    <section id="container" class="">
      <%= render :partial => "/backends/partials/toastr" %>
      <!--header start-->
      <%= render :partial => "/backends/partials/header" %>
      <!--header end-->
      <!--sidebar start-->
      <%= render :partial => "/backends/partials/sidebar" %>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper site-min-height">
          <%= yield %>
        </section>
      </section>
      <!--main content end-->

      <!-- Right Slidebar start -->
      <% render :partial => "/backends/partials/right_sidebar" %>
      <!-- Right Slidebar end -->

      <!--footer start-->
      <%= render :partial => "/backends/partials/footer" %>
      <%= render :partial => "/backends/partials/modal" %>
      <!--footer end-->
    </section>

    <!-- 排序 -->
    <!-- <script src="/my/sort.js"></script> -->
  
  </body>
</html>